@import '../global';
.explorer-bar {
  .explorer-search-bar-container {
    margin: 30px 0;
    .input-group-addon {
      height: 44px;
      border-radius: $default-border-radius 0 0 $default-border-radius;
    }
    .explorer-search-bar {
      height: 64px;
      border: none;
    }
    .input-group-btn {
      .btn {
        height: 64px;

        padding: 10px 20px;
        border-radius: 0 $default-border-radius $default-border-radius 0;
      }
    }
  }
}
