@import '../global';
.explorer-bar {

  .explore-tabs {
    li {
      a {
        padding: 7px 15px 2px;
        vertical-align: middle;
        background-color: rgba(255,255,255,0.2);
        border: none;
        font-size: $large-font-size;
        color: $text-color-inv;
        margin: 0 1px;
        &:hover, &:active &:focus {
          background-color: rgba(255,255,255,0.5);
        }
        &#organization-tab {
          margin-left: 0;
        }
        &#mission-tab {
          margin-right: 0;
        }
        i {
          color: inherit;
        }
        .explore-tab-label {
          color: inherit;
          position: relative;
          top: -10px;
        }
      }
    }
    li.active {
      a {
        background-color: rgba(255,255,255,1.0);
        color: $dark-blue;
      }
    }
  }

  .explore-bar-content {
    margin: 0;
    padding: 50px;
    background-color: $white;
    .explorer-search-bar-container {
      .input-group-addon {
        border: $default-border;
        border-right: 0;
        height: 44px;
        border-radius: $default-border-radius 0 0 $default-border-radius;
        background-color: $accent-gray;
      }
      input {
        border: $default-border;
        border-left: 0;
        border-right: 0;
      }
      .explorer-search-bar {
        height: 64px;
        border: $default-border;
        border-left: 0;
        border-right: 0;
        box-shadow: none;
      }
      .input-group-btn {
        .btn {
          height: 64px;
          padding: 10px 20px;
          border-radius: 0 $default-border-radius $default-border-radius 0;
        }
        .search-bar-button {
          border: $default-border;
          border-left: 0;
          border-right: 0;
        }
        .submit-btn {
          border-color: $dash-green;
          &:hover, &:focus, &:active {
            border-color: $dark-green;
          }
        }
      }
    }

    .taxonomy-heading {
      margin:0px;
      font-size: $medium-font-size;
      font-family: $source-sans-bold;
      text-transform: uppercase;
    }

    .taxonomy-list, .organization-list {
      list-style-type: none;
      padding: 0px;

      li {
        font-size: $medium-font-size;
        padding:2px 0;

        a {
          font-family: $source-sans-semi;
        }
      }
    }

    .taxonomy-list li {
      padding: 10px;
      border-bottom: solid 1px $light-gray;
      width:95%;
      font-family: $source-sans-semi;

      &:last-child {
        border-bottom: none;
      }
      &.selected {
        background-color: $medium-blue;
        color: $white;
        position: relative;
      }
      &.selected:after {
        content: "";
        display: block;
        position: absolute;
        right: -21px;
        top: 0px;
        width: 0;
        height: 0;
        border-top: 21px solid transparent;
        border-bottom: 21px solid transparent;
        border-left: 21px solid $medium-blue;
      }
      &.selected a {
        color: $white;
      }
    }

    .goal-selected {
      margin-top: 30px;
      width: 36.3333%;

      &:after {
        content: '';
        height: 135%;
        max-height: 180px;
        display: block;
        background: $light-gray;
        width: 1px;
        position: absolute;
        right: 0px;
        top: -10px;
      }
    }

    .goal-heading {
      font-size: $normal-font-size;
      font-family: $source-sans-bold;
      text-transform: uppercase;
    }

    .goal-text {
      font-size: $large-font-size;
    }

    .goal-info-link {
      font-size: $medium-font-size;
      font-family: $source-sans-semi;
    }

    .goal-info {
        margin-top: 30px;
        padding-left: 30px;
        width:30.3333%
    }

  }

}
