<div class="container explorer-bar">

  <tabs>
    <tab tabTitle="Organization" tabIcon="icon-organization">

      <div class="input-group input-group-lg input-field explorer-search-bar-container ">
        <span class="input-group-addon" id="organization-label">Organization Name</span>
        <input type="text" class="form-control explorer-search-bar" placeholder="" aria-describedby="organization-label" [(ngModel)]=filterQuery
          (keyup)=filterAfterKeyUp()>
        <div class="input-group-btn dropdown level1">
          <button class="btn btn-default search-bar-button dropdown-toggle" type="button" role="button" id="org-list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">See full list</button>
          <ul role="menu" class="dropdown-menu dropdown-tooltip" aria-labelledby="org-list">
            <li>
              <ul>
                <li class="list-title">U.S. Department of the Treasury</li>
                <li><a href="#">OCIO</a></li>
                <li><a href="#">EBS</a></li>
                <li><a href="#">OFAC</a></li>
                <li><a href="#">HRConnect</a></li>
              </ul>
            </li>
          </ul>
        </div>

        <span class="input-group-btn">
        <button class="btn btn-default submit-btn" aria-label="Search" title="Search" type="button"><i class="icon-search small-sz"></i></button>
      </span>
      </div>

    </tab>
    <tab tabTitle="TopicBar" tabIcon="icon-topic">
      <div class="input-group input-group-lg input-field explorer-search-bar-container">
        Topic Content
      </div>
    </tab>
    <tab tabTitle="Mission" tabIcon="icon-compass">
      <div class="input-group input-group-lg input-field explorer-search-bar-container">
        Mission Content
      </div>
    </tab>

  </tabs>

  <div class="suggestions" *ngIf="filteredList.length > 0">
    <ul *ngFor="let item of filteredList">
      <li>
        <a href="#" (click)="select(item)">{{item}}</a>
      </li>
    </ul>
  </div>



</div>
<br />
