<div class="container explorer-bar">

  <tabs>
    <tab tabTitle="Organization" tabIcon="icon-organization">

      <div class="input-group input-group-lg input-field explorer-search-bar-container ">
        <span class="input-group-addon" id="organization-label">Organization Name</span>
        <input type="text" class="form-control explorer-search-bar" placeholder="" aria-describedby="organization-label" [(ngModel)]=filterQuery
          (keyup)=filterAfterKeyUp()>
        <div class="input-group-btn">
          <button class="btn btn-default search-bar-button" type="button">See full list</button>
        </div>
        <span class="input-group-btn">
        <button class="btn btn-default submit-btn" aria-label="Search" title="Search" type="button"><i class="icon-search small-sz"></i></button>
      </span>
      </div>

    </tab>
    <tab tabTitle="TopicBar" tabIcon="icon-topic">
      <div class="input-group input-group-lg input-field explorer-search-bar-container">
        Topic Content
      </div>
    </tab>
    <tab tabTitle="Mission" tabIcon="icon-compass">
      <div class="explorer-search-bar-container row">
        <div class="taxonomy-info col-md-4">
          <h3 class="taxonomy-heading">Treasury Strategic Goals</h3>
          <ul class="taxonomy-list">
            <li><a href='#'>Promote domestic economic growth</a></li>
            <li><a href='#'>Enhance U.S. competitiveness</a></li>
            <li><a href='#'>Modernize federal financial mgmt.</a></li>
            <li><a href='#'>Safeguard the financial system</a></li>
            <li class="selected"><a href='#'>Create a 21st-century approach to govt.</a></li>
          </ul>
        </div>
        <div class="goal-selected col-md-4">
          <h4 class="goal-heading">Selected Goal</h4>
          <p class="goal-text">Create a 21st-century approach to government by improving efficiency, effectiveness, and customer interaction.</p>
          <a href="" class="goal-info-link">More info</a>
        </div>
        <div class="goal-info col-md-4">
          <h4 class="goal-heading">Organizations Aligned to Goal</h4>
          <ul class="organization-list">
            <li><a href="#">Departmental Offices</a></li>
            <li><a href="#">Internal Revenue Service</a></li>
          </ul>
        </div>
      </div>
    </tab>

  </tabs>

  <div class="suggestions" *ngIf="filteredList.length > 0">
    <ul *ngFor="let item of filteredList">
      <li>
        <a (click)="select(item)">{{item}}</a>
      </li>
    </ul>
  </div>



</div>
<br />
